LIVEKIT_URL=wss://corelance-rarudre6.livekit.cloud
LIVEKIT_API_KEY=APIqcpA8wV7SdS9
LIVEKIT_API_SECRET=9WC7Cv8kKOwcpzbNeV9M1iYLcnADf0Cl6efKsM4pLCVD
GOOGLE_API_KEY=AIzaSyBaSOX01gr8YMGIR_6UCtnPH1tCXAqYxfo
DEEPGRAM_API_KEY=afbc8893b9e4f291f1f2a24b4aef77524e35047e
ELEVENLABS_API_KEY=sk_c9bf4c160982b66f77c0c313eb2a30a25b5ee1bb97ace301