LIVEKIT_URL=wss://corelance-1egb2q0f.livekit.cloud
LIVEKIT_API_KEY=APIkay2mjq8XC7P
LIVEKIT_API_SECRET=KpzHpIwUmJmHxSfQcCZF0uQE77XfOer9stWzoJgrRuaB
GOOGLE_API_KEY=AIzaSyBaSOX01gr8YMGIR_6UCtnPH1tCXAqYxfo
DEEPGRAM_API_KEY=afbc8893b9e4f291f1f2a24b4aef77524e35047e
ELEVENLABS_API_KEY=sk_c9bf4c160982b66f77c0c313eb2a30a25b5ee1bb97ace301
